@model IEnumerable<MVC5Course.Models.Product>

@{
    ViewBag.Title = "Index";
}

@section breadcrumb{
    <li>
        @Html.ActionLink("產品清單", "Index", "Products")
    </li>
}

<h2>產品清單</h2>

<p>
    @Html.ActionLink("建立新產品", "Create")
    @if (TempData["EditDoneMessage"] != null &&
                                                                        !string.IsNullOrWhiteSpace(TempData["EditDoneMessage"].ToString()))
    {
        <script>alert('@TempData["EditDoneMessage"].ToString()');</script>
    }
</p>

@using (Html.BeginForm())
{
    @Html.TextBox("MyText")
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Active)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stock)
            </th>
            <th></th>
        </tr>

        @{
            var data = Model.ToArray();
        }

        @for (var i = 0; i < data.Length; i++)
        {
            @Html.HiddenFor(modelItem => data[i].ProductId)
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => data[i].ProductId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => data[i].ProductName)
                </td>
                <td>
                    @Html.EditorFor(modelItem => data[i].Price)
                    @Html.ValidationMessageFor(modelItem => data[i].Price)
                </td>
                <td>
                    @Html.EditorFor(modelItem => data[i].Active)
                </td>
                <td>
                    @Html.EditorFor(modelItem => data[i].Stock)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = data[i].ProductId }) |
                    @Html.ActionLink("Details", "Details", new { id = data[i].ProductId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = data[i].ProductId })
                </td>
            </tr>
        }

    </table>
    <button class="btn-default" type="submit">批次更新</button>
            }
